<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122369821-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122369821-1');
    </script>
    <!-- Note: plugin scripts must be included after the tracking snippet. -->
    <script src="https://ipmeta.io/plugin.js"></script>

    <script>
       provideGtagPlugin({
          serviceProvider: 'dimension1',
          networkDomain: 'dimension2',
          networkType: 'dimension3',
       });
    </script>
    <script src="https://kit.fontawesome.com/6bf560b279.js" crossorigin="anonymous"></script>

    <title>Rahul Pandey, Ph.D. | Amazon | George Mason Universityy</title>
    <!--<meta http-equiv="refresh" content="2; url=https://rpandey4.github.io/">-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="author" content="Rahul Pandey">
    <meta name="keywords" content="rahul, pandey, rahul pandey, phd, information technology, it, gmu, george mason university, the lnm institute of information technology, the lnmiit, lnmitt, jaipur, india, usa, fairfax, patna, jaipur, amazon, rahul pandey amazon, rahul pandey amazon ads, amazon ads, ">

    <meta name="description" content="Rahul Pandey is an Applied Scientist II at Amazon Ads. Rahul Pandey finished his Ph.D. in Information Technology at George Mason University. His research interests are Human-AI Collaboration, Speech Recognition, Natural Language Understanding, and Applied Machine Learning.">

    <!--Open Graph Related Stuff-->
    <meta property="og:title" content="Rahul Pandey"/>
    <meta property="og:url" content="http://mason.gmu.edu/~rpandey4/"/>

    <meta name='og:description' content='Rahul Pandey is an Applied Scientist II at Amazon Ads. Rahul Pandey finished his Ph.D. in Information Technology at George Mason University. His research interests are Human-AI Collaboration, Speech Recognition, Natural Language Understanding, and Applied Machine Learning.'/>


    <meta property="og:site_name" content="Rahul Pandey"/>


    <!--Twitter Card Stuff-->
    <meta name='twitter:card' content='summary_large_image'/>

    <meta name='twitter:title' content='Rahul Pandey'/>


    <meta name='twitter:image' content='https://pbs.twimg.com/profile_images/1060571794606866434/J_2o5kEo_400x400.jpg'/>

    <meta name='twitter:creator' content='@RahulPandeyGMU'/>
    <meta name='twitter:site' content='@RahulPandeyGMU'/>
    <meta name='twitter:url' content='https://twitter.com/RahulPandeyGMU'/>

    <meta name='twitter:description' content='Rahul Pandey is an Applied Scientist II at Amazon Ads. Rahul Pandey finished his Ph.D. in Information Technology at George Mason University. His research interests are Human-AI Collaboration, Speech Recognition, Natural Language Understanding, and Applied Machine Learning.'/>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="./icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="./icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="./icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="./icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="./icons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="./icons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="./icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="./icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="./icons/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="./icons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="./icons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="./icons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="./icons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="./icons/mstile-310x310.png" />


{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src={{ site.front_image }} alt="Rahul Pandey" width="80%" /><br>
        <a href="{{ site.github.url }}"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a>
        <!-- <a target="_blank" href="./index.html"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a> -->
        <p>{{ site.description | default: site.github.project_tagline }}<br>
          {{ site.university }}<hr>
          {{ site.area }}
        </p>

        <!-- {% if site.github.is_project_page %}
          <p class="view"><a target="_blank" href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %} -->

        <!-- {% if site.github.is_user_page %}
          <p class="view"><a target="_blank" href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %} -->

        {% if site.show_downloads %}
          <ul>
            <li><a target="_blank" href={{ site.cv }}>View <strong>CV</strong></a></li>
            <li><a target="_blank" href={{ site.resume }}>View <strong>Resume</strong></a></li>
            <li><a href="{{ site.scholar_url }}">View <strong>Publications</strong></a></li>
            <!-- <li><a target="_blank" href="{{ site.github.owner_url }}">View <strong>GitLab</strong></a></li> -->
            <!-- <li><a target="_blank" href={{ site.gitlab }}>View <strong>GitLab</strong></a></li> -->
          </ul>
          <ul>
            <li><a target="_blank" href={{ site.tw }}>View <strong><i class="fab fa-twitter-square"></i></strong></a></li>
            <li><a target="_blank" href={{ site.in }}>View <strong><i class="fab fa-linkedin"></i></strong></a></li>
            <!-- <li><a target="_blank" href="">View <strong>GitLab</strong></a></li> -->
            <li><a target="_blank" href={{ site.fb }}>View <strong><i class="fab fa-facebook-square"></i></strong></a></li>
            <!-- <li><a href="{{ site.scholar_url }}">View <strong>Publications</strong></a></li> -->
          </ul>
        {% endif %}
        <hr>
        <h3 id="contact-me"><a href="#header-3"></a>Contact me!</h3>
        <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">rpandey4</span><span class="o">AT</span><span class="n">gmu</span><span class="o">DOT</span><span class="n">edu</span></code></pre></div></div>
<!--        <hr>-->
        <!-- <hr> -->
        <!-- <br> -->
        <!-- <p><h3>Professional Services</h3>
        <b><i>[Organizing Committee]</i></b> {{ site.o_comm }}<br>
        <b><i>[Program Committee]</i></b> {{ site.p_comm }}<br>
        <b><i>[Journal Reviewer]</i></b> {{ site.j_rev }}<br>
        <b><i>[Sub-Reviewer]</i></b> {{ site.s_rev }}
        </p> -->


      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <!-- {% if site.github.is_project_page %}
        <p>This project is maintained by <a target="_blank" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %} -->
        <p><small>Built with Jekyll &mdash; Design Credit: <a target="_blank" href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <!-- <script src="./assets/js/scale.fix.js"></script> -->


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
